/****************************************************************/
/**********************   BASIC SETUP   *************************/
/****************************************************************/


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'Thasadith', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    
    background: linear-gradient(to bottom, rgb(170, 206, 74), #cd744c);
}


.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/****************************************************************/
/******************   REUSABLE COMPONENTS   *********************/
/****************************************************************/
/************************   HEADINGS   **************************/

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 200%;
    word-spacing: 4px;
    margin: 2%;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 5%;
}

h3 {
    text-align: center;
    letter-spacing: 1px;
}

/*************************   ICONS   ***************************/

.icon-big {
    font-size: 200%;
    color: #0c7b0c;
    margin: 10px 20px 10px 20px;
    text-align: center;
}

/*************************   SHAPES   ***************************/
.trapezoid {
	border-bottom: 50px solid rgba(0, 0, 0, 0.6);
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0;
	width: 70px;
}

/****************************************************************/
/**********************  MAIN SECTION   *************************/
/****************************************************************/
/*********************** Water tank section *********************/
.water-tank {
    display: block;
    height: 100px;
    margin: 20px 5px 20px 5px;
}

.arrows {
    float: left;
    height: 100px;
    margin: 0 0 0 6%;
    width: 20%;
    text-align: right;
}

.arrow ion-icon{
    font-size: 30px;
}

#arrow-0 {color: green;}
#arrow-1 {color: blue;}
#arrow-2 {color: red;}

.tank {
    float: right;
    height: 100px;
    width: 62%;
    background: url(img/water_background.png);
    border-radius: 5px;
    margin: 0 8% 0 0;
    text-align: center;
}

.hide {
    visibility: hidden;
}
/******************** plant station grid ***********************/
.station-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;    
}

.station {
    /*grid properties*/
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 20px 10px 50px 100px;
    grid-template-areas: 
        "heading heading"
        "empty empty"
        "light lightInfo"
        "plant plantInfo";
    justify-items: center;
    
    
    /*background-color: hsla(120, 28%, 95%, 0.52);*/
    margin-bottom: 25px;
    border-radius: 5%;
    -webkit-box-shadow: 0 5px 30px 5px rgba(0,0,0,0.2);
    box-shadow: 0 5px 30px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    font-size: 16px;
    font-weight: 300;
    padding: 5px;
}

.station h3 {
    grid-area: heading;
    color: #236c23;
}

.station-light {
    grid-area: light;
}

.station-lightInfo {
    grid-area: lightInfo;
    align-self: center;
    justify-self: start;
    margin-left: 15px;
}

.station-plant {
    grid-area: plant;
    position: relative;
}

.station-plantInfo {
    grid-area: plantInfo;
    align-self: center;
    justify-self: start;
    margin-left: 15px;
}

.station-plant img {
    width: 100%;
    height: 100%;
    z-index: -1;
}

p span {
    font-weight: bold;
    font-size: 20px;
}
/*************** pop-ups ***************************************/

button {
    vertical-align: middle;
    margin: .20rem;
    font-size: 40px;
    color: #beaa67;
    background: none;
    border: none;
}

button ion-icon[name=water] {
    position: absolute;
    left: 50%;
    top: 60%;
    color: aqua;
}

button:hover,
button ion-icon[name=water]:hover {
    color: #ffffff;
}
/****************************************************************/
/*************************  FOOTER   ****************************/
/****************************************************************/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(64, 49, 42, 0.8);
    padding: 10px;
    color: white;
    text-align: center;
}

